%btn-base {
  @include inline-flexbox;
  padding: 0 8px;
  font-weight: 700;
  border-radius: 4px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

// 버튼은 크게 3가지 기준으로 변주: styles, sizes, states
// style관련 선언을 할 때는 size, state는 들어가지 않도록 유의할 것

// NOTE: Button styles
.btn-primary {
  @extend %btn-base;
  color: $white;
  background-color: $blue;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $blue-dark;
  }
}

.btn-secondary {
  @extend %btn-base;
  color: $primary;
  background-color: $border;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $tertiary;
  }
}

.btn-outlined {
  @extend %btn-base;
  color: $blue;
  background-color: $white;
  border: 1px solid $blue;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $blue-light;
  }
}

.btn-ghost {
  @extend %btn-base;
  color: $primary;
  background-color: transparent;
  transition: color 200ms ease-in-out;

  &:not(:disabled):hover {
    color: $secondary;
  }
}

// NOTE: Button sizes
.btn-32 {
  @include text-style(14);
  height: 32px;
}

.btn-40 {
  @include text-style(16);
  height: 40px;
}

.btn-48 {
  @include text-style(16);
  height: 48px;
}

.btn-55 {
  @include text-style(18);
  height: 55px;
}
